.content-info {
	margin-top: 15px;
}

.content-info .footwrap {
	position: relative;
	display: block;
	overflow: auto;
	background-color: #720d4f;
	border-radius: 5px 5px 0 0; 
	// text-align: center;
}

.certlogos {
    float: left;
    padding: 15px;
}

.certlogos img {
    height: 28px;
    padding-right: 5px;
}

.copyr {
	color: #720d4f;
	padding: 5px 0 0;
	font-size: 13px;
	// margin-left: 15px;
	// width: auto;
	text-align: center;
}
.pplogos {
	display: block;
	// overflow: auto;
	float: right;
	margin-right: 10px;
	padding-top: 6px;
}

.pplogos img {
	// max-width: 100%;
	// height: auto;
}

.footlogo {
	margin: 8px auto;
	width: 430px;

//	float: none;
}

.subscribe {
	overflow: visible;
	text-align: center;
	// float: right;
}

.subscribe h4 {
	margin-bottom: 10px;
	white-space: nowrap;
	color: #720d4f;
}

.subscribe .form-group {
	position: relative;
	display: block;
	overflow: auto;
	// float: left;
	max-width: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.subscribe .form-group:last-child {
	margin-bottom: 10px;
}

.subscribe .form-group > label {
	display: none;
}

.subscribe .ajax-loader {
	position: absolute;
	margin-top: 10px;
}

.subsbtn {
	background-color: #DFDFDF;
	color: #720d4f;
	margin: 12px 15px 0 15px;
	box-shadow:2px 2px 5px #332E2F;
}

.subscribe .popover-title {


}

.footextra {
	position: relative;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.4);
	overflow: auto;
	vertical-align: top;
}

.footextra .col-sm-3 {

}

.widget_nav_menu > ul,
#menu-footer-navigation {
	padding: 10px 0 0;
	color: #ddd;
	white-space: normal;
	margin-bottom: 0;
}

.widget_nav_menu > ul > li,
#menu-footer-navigation > li {
	position: relative;
	display: inline-block;
	overflow: auto;
	padding: 0 10px;
	vertical-align: top;
	font-size: 1.2em;
	font-weight: bold;
	white-space: normal;
}

.widget_nav_menu > ul li a,
#menu-footer-navigation li a {
    white-space: normal;
}

.footextra .sub-menu {
	padding: 0;
	top: 0;
	left: 0;
}

.footextra .sub-menu > li {
	padding: 0;
	display: block;
	font-weight: normal;
}