.content-info {
	margin-top: 15px;
}

.content-info .footwrap {
	display: block;
	overflow: auto;
	background-color: #720d4f;
	border-radius: 5px 5px 0 0; 
	// text-align: center;
}

.copyr {
	color: #fff;
	float: left;
	padding: 20px 0;
	font-size: 13px;
	margin-left: 15px;
}
.pplogos {
	display: block;
	// overflow: auto;
	float: right;
	margin-right: 10px;
	padding-top: 6px;
}

.pplogos img {
	// max-width: 100%;
	// height: auto;
}

.footlogo {
	margin: 8px auto;
	width: 430px;

//	float: none;
}

